.rxjs-operators {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  width: 100%;

  &__section {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
  }
}
