.user-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  &__nav-links {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    width: 50%;
  }

  &__list-item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }
}
